<section class="projects">
  <h1 class="projects-header">projects</h1>
  <div class="projects-conteiner">
    <ul class="projects-list">
      <li class="projects-item">
        <p class="projects-item-content">#react</p>
      </li>
      <li class="projects-item">
        <p class="projects-item-content">#js</p>
      </li>
      <li class="projects-item">
        <p class="projects-item-content">#node.js</p>
      </li>
      <li class="projects-item">
        <p class="projects-item-content">#git</p>
      </li>
    </ul>
    <div class="projects-content">
      <p class="swiper-slide-text">
        Programming Across Border: Ideas, <br />
        Technologies, Innovaations
      </p>
      <button class="projects-content-btn">See project</button>
    </div>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-slide-conteiner">
          <li class="projects-item-img">
            <img
              class="projects-img"
              src="../img/mobile/projects_mobile.jpg"
              alt="form"
            />
          </li>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide-conteiner">
          <li class="projects-item-img">
            <img
              class="projects-img"
              src="../img/mobile/dog_mobile.jpg"
              alt="dog"
            />
          </li>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide-conteiner">
          <li class="projects-item-img">
            <img
              class="projects-img"
              src="../img/mobile/form-2_mobile.jpg"
              alt="form"
            />
          </li>
        </div>
      </div>
    </div>
    <div class="projects-swiper-btn">
      <button class="swiper-button-1">
        <svg class="icon-arrow" width="28" height="28">
          <use href="../img/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button class="swiper-button-2">
        <svg class="icon-arrow" width="28" height="28">
          <use href="../img/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
