<section class="projects">
  <!-- <h1 class="projects-header">projects</h1> -->
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-slide-conteiner">
          <div class="projects-conteiner">
            <ul class="projects-list">
              <li class="projects-item">
                <p class="projects-item-content">#react</p>
              </li>
              <li class="projects-item">
                <p class="projects-item-content">#js</p>
              </li>
              <li class="projects-item">
                <p class="projects-item-content">#node.js</p>
              </li>
              <li class="projects-item">
                <p class="projects-item-content">#git</p>
              </li>
            </ul>
            <div class="projects-content">
              <p class="swiper-slide-text">
                Programming Across Border: Ideas, <br />
                Technologies, Innovaations
              </p>
              <button class="projects-content-btn">See project</button>
            </div>
          </div>
          <div class="projects-item-img">
            <img
              class="projects-img"
              srcset="
                ../img/mobile/projects_mobile.jpg 288w,
                ../img/tablet/project_tablet.jpg  356w
              "
              src="../img/mobile/projects_mobile.jpg"
              sizes="(min-width: 1158px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px"
              alt="form"
            />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide-conteiner">
          <div class="projects-conteiner">
            <ul class="projects-list">
              <li class="projects-item">
                <p class="projects-item-content">#react</p>
              </li>
              <li class="projects-item">
                <p class="projects-item-content">#js</p>
              </li>
              <li class="projects-item">
                <p class="projects-item-content">#node.js</p>
              </li>
              <li class="projects-item">
                <p class="projects-item-content">#git</p>
              </li>
            </ul>
            <div class="projects-content">
              <p class="swiper-slide-text">
                Programming Across Border: Ideas, <br />
                Technologies, Innovaations
              </p>
              <button class="projects-content-btn">See project</button>
            </div>
          </div>
          <div class="projects-item-img">
            <img
              class="projects-img"
              srcset="
                ../img/mobile/dog_mobile.jpg 288w,
                ../img/tablet/dog_tablet.jpg 356w
              "
              src="../img/mobile/dog_mobile.jpg"
              sizes="(min-width: 1158px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px"
              src="../img/mobile/dog_mobile.jpg"
              alt="dog"
            />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide-conteiner">
          <div class="projects-conteiner">
            <ul class="projects-list">
              <li class="projects-item">
                <p class="projects-item-content">#react</p>
              </li>
              <li class="projects-item">
                <p class="projects-item-content">#js</p>
              </li>
              <li class="projects-item">
                <p class="projects-item-content">#node.js</p>
              </li>
              <li class="projects-item">
                <p class="projects-item-content">#git</p>
              </li>
            </ul>
            <div class="projects-content">
              <p class="swiper-slide-text">
                Programming Across Border: Ideas, <br />
                Technologies, Innovaations
              </p>
              <button class="projects-content-btn">See project</button>
            </div>
          </div>
          <div class="projects-item-img">
            <img
              class="projects-img"
              srcset="
                ../img/mobile/form-2_mobile.jpg 288w,
                ../img/tablet/form-2_tablet.jpg 356w
              "
              src="../img/mobile/projects_mobile.jpg"
              sizes="(min-width: 1158px) 360px, (min-width: 768px) 356px, (max-width: 767px) 288px"
              src="../img/mobile/form-2_mobile.jpg"
              alt="form"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="projects-swiper-btn">
      <button class="swiper-button-1">
        <svg class="icon-arrow" width="28" height="28">
          <use href="../img/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button class="swiper-button-2">
        <svg class="icon-arrow" width="28" height="28">
          <use href="../img/svg/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
